<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power BI Report</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color:black ;
        }

        iframe {
            border: none;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            height: 100%;
            background-color: black;
        }
    </style>
</head>
<body>
    <iframe title="InventoryFruits" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=5cf8c0c9-8184-4978-a864-9d0c0702af35&autoAuth=true&ctid=cca3f0fe-586f-4426-a8bd-b8146307e738" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
